body {
background: url("images/pizzaheader.jpg") no-repeat;
background-size:cover;
color:#fff;
 display: inline-block;
    margin: 0px auto;
}

h1 {

	font-family: 'Patua One', cursive;
	font-size: 96px;
	text-align: center;
	text-transform: ;
}

a {

	color:#fff;
}

p {
font-family: 'Roboto', sans-serif;
	font-size: 16px;
	text-align: center;	
	color:#fff;

}

ul, li {
font-family: 'Roboto', sans-serif;
	font-size: 16px;
	text-align: center;	
	color:#fff;
	list-style-type: none;

}
#slogan {
font-family: 'Roboto', sans-serif;
	font-size: 24px;
	text-align: center;	
}



	#wrapper {

		background-color: #ffe2b8;
    border: 1px black solid;
    padding: 20px;
	}

	header {
	background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
	}

	nav {
		background-color: #e8c66a;
    border: 1px black solid;
    padding: 20px;
	}

#about {
background-color: #ffe2b8;
    border: 1px black solid;
    padding: 20px;
	
}

footer {
background-color: #ff957e;
    border: 1px black solid;
    padding: 20px;
	}
